*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #639;
  height: 100vh;
}

.container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 300px;
  margin: 0 auto;
  display: flex;
}

.form{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 1.75em;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
  border-radius: 5px;
}

.form--input{
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}

form{
  width: 100%;
}

input{
  display: flex;
  margin-bottom: 1em;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
}

button{
  width: 40%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;   
  cursor: pointer; 
  font-family: 'Inter', sans-serif;
}

.marketing{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.newsletter-checkbox{
  margin-right: 10px;
}