/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  height: 100vh;
  font-family: "Source Serif Pro", serif;
  background: #fc466b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3f5efb,
    #fc466b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

h1 {
  font-size: 5rem;
  margin-bottom: 0.5em;
  color: #000000;
}

#activity {
  font-size: 2rem;
  margin-bottom: 1.5em;
  color: white;
}

button {
  padding: 5em;
  border: none;
  border-radius: 50%;
  background-color: #bf3c23;
  box-shadow: 2px 5px 5px black;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
}

.boredIcon {
  width: 50px;
  height: 50px;
  background-image: url(/images/bored.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
