* {
  box-sizing: border-box;
  border: 0;
}

body {
  background-color: #6a9a8b;
  color: #fff;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
background: rgb(189,64,196);
background: linear-gradient(126deg,
rgba(189,64,196,1) 0%,
rgba(84,88,200,1) 44%, rgba(20,165,218,1) 95%,
rgba(77,121,208,1) 100%);

}

/* =====================
Typography
======================*/

.main-title {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 1px;
}

input {
  background: transparent;
  color: #fff;
  border: none;
  outline: 0;
  font-size: 4em;
  font-weight: 800;
}

.datas {
  font-size: 1.125rem;
}

/* =====================
Layout
======================*/

.container {
  width: 40%;
  text-align: center;
  border-radius: 20px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  border-radius: 20px 20px 0 0;
}

.main-title {
  font-size: 2.25rem;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1f2937;
  border-radius: 0 0 20px 20px;
  padding: 2em 0 0 0;
}

.sub-datas {
  margin-bottom: 3em;
}

.units {
  color: #d2d2d2;
}

p {
  color: #d2d2d2;
  width: 100%;
}

input {
  width: 50%;
  text-align: center;
}

.input-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  padding-top: 1em;
}

.input-holder:after {
    content: '';
    display: block;
    position: relative;
    width: 10%;
    border: 2px solid #fff;
}

.datas {
  display: flex;
}

.border {
  border-right: 4px solid #5458c8
}

#gallons,
#pounds,
#feets {
  border-left: 2px solid #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Firefox */
::placeholder {
  color: #ffffff;
  opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: #ffffff;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: #ffffff;
}

@media (max-width: 1100px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 850px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 850px) {
  .datas {
    display: flex;
    flex-direction: column;
  }
}


