* {
  box-sizing: border-box;
  border: 0;
}

body {
  background-color: #6a9a8b;
  color: #fff;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
}

header {
  background-image: linear-gradient(
    220deg,
    hsl(238deg 99% 67%) 0%,
    hsl(256deg 89% 65%) 11%,
    hsl(270deg 79% 61%) 22%,
    hsl(283deg 71% 58%) 33%,
    hsl(295deg 63% 54%) 44%,
    hsl(306deg 66% 53%) 56%,
    hsl(314deg 75% 55%) 67%,
    hsl(320deg 84% 56%) 78%,
    hsl(326deg 91% 58%) 89%,
    hsl(331deg 96% 60%) 100%
  );
}

/* =====================
Typography
======================*/

.container {
  margin-top: 5em;
  border: 10px solid #fff;
  border-radius: 5px;
}

.main-title {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 1px;
}

input {
  background: transparent;
  color: #fff;
  border: none;
  outline: 0;
  font-size: 4em;
  font-weight: 800;
}

.datas {
  font-size: 1.125rem;
}

/* =====================
Layout
======================*/

.container {
  width: 40%;
  margin: 4em auto;
  text-align: center;
}

header {
  position: relative;
  padding: 2em 0;
}

.main-content {
  background-color: #1f2937;
  padding: 2em 0;
}

.sub-datas {
  margin-bottom: 3em;
}

.units {
  color: #d2d2d2;
}

p {
  color: #d2d2d2;
  width: 100%;
}

input {
  width: 100%;
  text-align: center;
}

.datas {
  display: flex;
}

#gallons,
#pounds,
#feets {
  border-left: 2px solid #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Firefox */
::placeholder {
  color: #ffffff;
  opacity: 1;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: #ffffff;
}

/* Microsoft Edge */
::-ms-input-placeholder {
  color: #ffffff;
}
