* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  background-color: #dedede;
}

:root {
  --primary-color: #f5f5f5;
  --secondary-color: #d5d4d8;
  --sub-color: #4a4e74;
  --main-bg-color: #1f2937;
  --header-bg-color: #3a69d2;
}

/* TYPOGRAPHY */

.main-title,
.sub-par,
.task-title,
.task-total,
.notes-details,
#sendBtn,
#payment {
  color: var(--primary-color);
}

.subtitle,
.notes,
.total-amount {
  color: var(--secondary-color);
}

.main-title {
  font-size: 2.5rem;
  font-weight: 800;
}

.sub-par {
  font-size: 1rem;
}

.btn {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--sub-color);
}

.subtitle {
  font-size: 0.75rem;
  font-weight: 700;
}

.task-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.task-total {
  font-size: 1.5rem;
  font-weight: 700;
}

.total-amount,
.notes,
.notes-details {
  font-size: 0.75rem;
}

.total-amount,
.notes {
  font-weight: 600;
}

.notes-details {
  font-weight: 400;
}

#sendBtn {
  font-size: 1rem;
  font-weight: 500;
}

/* LAYOUT */

.container {
  margin: 0 auto;
  margin-top: 2em;
  max-width: 34.375rem;
  box-shadow: 10px 10px #105267;
}

header {
  background-color: var(--header-bg-color);
  text-align: center;
}

.sub-par {
  margin: 0;
  padding-bottom: 3.2rem;
}

.main-title {
  margin: 0;
  padding: 3.7rem 6.125rem 0.56rem 6.125rem;
}

.main-section {
  background-color: var(--main-bg-color);
}

.main-container {
  width: 90%;
  margin: 0 auto;
}

.main-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: var(--secondary-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.875rem 1.125rem;
  border-radius: 7px;
  border: 0;
}

.subtitles,
.task-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subtitles {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.task-details {
  margin-bottom: 1rem;
}

.task-details p {
  margin: 0;
}

.tasks-section {
  border-bottom: 2px solid #c3c6db;
  margin-bottom: 1.5rem;
}

.total-cost {
  margin-bottom: 2em;
}

.cash-out {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#payment {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  font-size: 2.25rem;
}

#sendBtn {
  background-color: var(--header-bg-color);
  margin-bottom: 2em;
  width: 100%;
  padding: 0.75em 0;
  font-weight: 500;
  letter-spacing: 1px;
  border: 0;
  border-radius: 7px;
}
